

#navbar-brand{
	background-color: #8bd6ba;
}

.jumbotron{
	border-radius: 0;
}

#logo{
	max-height: 200px;
	max-width: 200px;
}
#smallbinoculars{
	max-height: 60px;
	max-width: 60px;
}

#logo{
	max-height: 150px;
	max-width: 150px;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    height: auto;
  }

#search-button:hover{
	color: #FF9933;
}
.btn-search,
#search-term,
#search-icon{
	outline: none;
	border: none;
	border-radius: 0;
}
footer{
	padding: 20px 20px;
	margin-top: 20px;
}

.dropdown{
	margin-right: 10px;
}
.card{
	margin-bottom: 10px;
}
.card-body > button{
	margin-bottom: 5px;
	background-color: #8bd6ba;
	color: black;
	border: 2px solid #343A40;
}

.card-body > button:hover{
	background-color: #FF9933;
	color: black;
}

.bg-white{
	background-color: #FFF;
}

#contact{
	margin-left: 500px;
}
