.input-group-addon{
	background-color: #FFF;
	outline: none;
}
.jumbotron{
	border-radius: 0;
}

#logo{
	max-height: 200px;
	max-width: 200px;

.btn-search,
#search-term,
#search-icon{
	outline: none;
	border: none;
	border-radius: 0;
}
footer{
	padding: 20px 20px;
	margin-top: 20px;
}
.card{
	margin-bottom: 10px;
}
.card-body > button{
	margin-bottom: 5px;
	background-color: transparent;
	color: #BA3B46;
	border: 2px solid #343A40;
}

.card-body > button:hover{
	background-color: #343A40;
	color: #FFF;
	border: 2px solid #BA3B46;
}
.bg-white{
	background-color: #FFF;
}
.bg-deepchesnut{
	background-color: #BA3B46;
	color: #FFF;
}

.btn-outline-deepchesnut{
	border: 1px solid #BA3B46;
	background-color: transparent;
	color: #BA3B46;
	border-radius: 5px;
}
.btn-outline-deepchesnut:hover{
	border: 1px solid #FFF;
	background-color: #BA3B46;
	color: #FFF;
}

.btn-outline-dark{
	border: 1px solid #343A40;
	background-color: transparent;
	color: #343A40;
	border-radius: 5px;
}
.btn-outline-dark:hover{
	border: 1px solid #FFF;
	background-color: #343A40;
	color: #FFF;
}